.header{
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  background-color: #221f1f;
  align-items: center;

  &-nav{
    display: flex;
    align-items: center;
    gap: 20px;

    &-logo{
      width: 104px;
    }
  }

  &-log{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    a{
      text-decoration: none;
    }

    img{
      display: block;
      height: 30px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, .1);
      transition: background-color .225s;

      &:hover{

      }
    }
  }
}